{% extends "Grafik Iwonki.html" %}
{% block body %}

<p>Czas przystąpić do ukłądania grafiku dla załogi
    <b>{{team.team_name}}</b> dla miesiąca <b>{{selected_month}} {{selected_year}}</b>. </p>
<p></p>

<form action="{{url_for('schedule_update')}}" method="post">

    <p> Wprowadź nazwę dla Grafiki.
    <p>Domyślnie będzie ona zawierała dzisiejszą datę ale wprowadź coś od siebie.
    <p></p>
    <p><input type="text" name="schedule_name" value="{{today}} wprowadź nazwę..."></p>

    <p>Liczba osób na dyżurze -- w dzień>
    <select name="no_of_person_day">
        {% for elem in range(1, 10) %}
            {% if elem == 4 %}
            <option value="{{elem}}" SELECTED>{{elem}}</option>
            {% endif %}
            {% if elem != 4 %}
            <option value="{{elem}}">{{elem}}</option>
            {% endif %}
        {% endfor %}
    </select></p>

    <p>Liczba osób na dyżurze -- w nocy>
    <select name="no_of_person_night">
        {% for elem in range(1, 10) %}
            {% if elem == 2 %}
            <option value="{{elem}}" SELECTED>{{elem}}</option>
            {% endif %}
            {% if elem != 2 %}
            <option value="{{elem}}">{{elem}}</option>
            {% endif %}
        {% endfor %}
    </select></p>

    <p>Liczba godzin pracy w miesiącu na jedną osobę --> {{workin_days}}</p>
    <p>Liczba możliwych dyżurów (dniówka lub nocka) pod rząd -->
    <select name="no_of_daywork">
        {% for elem in range(2,5) %}
        <option value="{{elem}}" SELECTED>{{elem}}</option>
        {% endfor %}
    </select></p>

    <input type="submit" name="save_schedule" value="Uzupełnij Grafik Automatycznie !">
    <input type="submit" name="save_schedule" value="Zapisz Grafik">

    <table style="width:100%">
        <tr>
            <td></td>
            {% for no, day in month_calendar %}
            <td><b>{{no}}</b></td>
            {% endfor %}
        </tr>

        <tr>
            <td><b>Imię Nazwisko</b></td>
            {% for no, day in month_calendar  %}
            <td><b>{{day}}</b></td>
            {% endfor %}
        </tr>
        {% for person in team.crew %}
        <tr>
            <td>{{person}}</td>

            {% for no, day in month_calendar %}
            <td>
                <select name="{{person}}_day{{no}}">
                    {% for w in work %}
                        <option value="{{w}}" SELECTED><b>{{w}}</b></option>
                    {% endfor %}
                </select>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>




</form>

{% endblock %}