{% extends "Grafik Iwonki.html" %}
{% block body %}

<p>Wprowadź dane osób z zespołu.</p>

<form action="{{url_for('team_update')}}" method="post" id="team">

<p> Wprowadź nazwę dla zespołu.
<p>Domyślnie będzie on zawierał dzisiejszą datę ale wprowadź cos od siebie.
<p></p>
Tutaj wpisz nazwę dla zespołu -->

{% if not team %}
<input type="text" name="team_name" value="{{today}}">
{% endif %}
{% if team %}
<input type="text" name="team_name" value="{{team[0]}}">
{% endif %}

<input type="submit" name="create_team" value="Zapisz załogę">
<p></p>
<input type="submit" name="create_team" value="dodaj osobę">
<input type="submit" name="create_team" value="odejmij osobę">
<p></p>

{% if not team %}
    <table style="width:100%">
        <tr>
        <td>Liczba</td>
        <td>Imię Nazwisko</td>
        </tr>
        {% for n in range(size)%}
        <tr>
            <td>{{n + 1}}</td>
            <td><input type="text" name="person{{n}}" value=""></td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% if team %}
    <table style="width:100%">
        <tr>
        <td>Liczba</td>
        <td>Imię Nazwisko</td>
        </tr>
        {% for n in range(size)%}
        <tr>
            <td>{{n + 1}}</td>
            <td><input type="text" name="person{{n}}" value="{{team[n + 1]}}"></td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
</form>

{% endblock %}