{% extends "Grafik Iwonki.html" %}
{% block body %}


<p>Wprowadź dane osób z zespołu.</p>

<form action="{{url_for('team_update')}}" method="post" id="team">

<p> Wprowadź nazwę dla zespołu.
<p>Domyślnie będzie ona zawierała dzisiejszą datę ale wprowadź cos od siebie.
<p></p>
Tutaj wpisz nazwę dla zespołu -->

<input type="text" name="team_name" value="{{team.team_name}}">

<input type="submit" name="create_team" value="Zapisz załogę">
<p></p>


<button type="button" onclick="zmiana({{size}})">dodaj osobę</button>
<button type="button" onclick="myFunction()">odejmij osobę</button>
<button type="button" onclick="myFunction2()">odejmij osobę</button>

<p></p>



<table style="width:100%">
    <tr>
    <td>Liczba</td>
    <td>Imię Nazwisko</td>
    </tr>
    {% for n in range(size)%}
    <tr>
        <td>{{n + 1}}</td>
        <td><input type="text" name="person{{n}}" value="{{team.crew[n]}}"></td>
    </tr>
    {% endfor %}
</table>
</form>


{% endblock %}