{% extends "Grafik Iwonki.html" %}
{% block body %}

<p>Czs przystąpić do ukłądania grafiku dla załogi
    <b>{{team[0]}}</b> dla miesiąca <b>{{selected_month}} {{selected_year}}</b>. </p>
<p></p>

<form action="{{url_for('schedule_update')}}" method="post">

    <p>Liczba osób na dyżurze -->
    <select name="no_of_person">
        {% for elem in range(1, 10) %}
        <option value="{{elem}}" SELECTED>{{elem}}</option>
        {% endfor %}
    </select></p>
    <p>Liczba godzin pracay w miesiącu na jedną osobę -->
    <select name="no_of_hours">
        {% for elem in no_of_hours %}
        <option value="{{elem}}" SELECTED>{{elem}}</option>
        {% endfor %}
    </select></p>
    <p>Liczba możliwych dyżurów (dniówka lub nocka) pod rząd -->
    <select name="no_of_daywork">
        {% for elem in range(2,5) %}
        <option value="{{elem}}" SELECTED>{{elem}}</option>
        {% endfor %}
    </select></p>


    <input type="submit" name="save_schedule" value="Zapisz Grafik">

    {% if not schedule %}
    <table style="width:100%">
        <tr>
            <td></td>
            {% for day in month_week_days %}
            <td><b>{{day[0]}}</b></td>
            {% endfor %}
        </tr>

        <tr>
            <td><b>Imię Nazwisko</b></td>
            {% for day in month_week_days %}
            <td><b>{{day[1]}}</b></td>
            {% endfor %}
        </tr>

        {% for person in team[1:] %}
        <tr>
            <td>{{person}}</td>
            {% for day in month_week_days %}
            <td>
                <select name="{{person}}_{{day[0]}}">
                    {% for w in work %}
                    <option value="{{w}}" SELECTED>{{w}}</option>
                    {% endfor %}
                </select>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if schedule %}
    <table style="width:100%">
    <tr>
        <td></td>
        {% for no, day in month_week_days %}
        <td><b>{{day[0]}}</b></td>
        {% endfor %}
    </tr>

    <tr>
        <td><b>Imię Nazwisko</b></td>
        {% for no, day in month_week_days %}
        <td><b>{{day[1]}}</b></td>
        {% endfor %}
    </tr>

    {% for person, person_schedule in schedule %}
    <tr>
        <td>{{person}}</td>
        {% for no, day in month_week_days %}
        <td>
            <select name="{{person}}_{{day[0]}}">
                {% for w in work %}
                    {% if person_schedule[no] == w %}
                        <option value="{{w}}" SELECTED>{{w}}</option>
                    {% endif %}

                    {% if person_schedule[no] != w %}
                        <option value="{{w}}">{{w}}</option>
                    {% endif %}
                {% endfor %}

            </select>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>


    {% endif %}


</form>

{% endblock %}